
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}


.container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

.navh{
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
}

.request-container {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: stretch;
}

.icon,
.details,
.student-details,
.buttons {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.icon {
    background-color: #333;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon i {
    font-size: 3em;
}

.details,
.student-details {
    text-align: left;
}

.buttons {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%; /* Adjusted to take full height */
}

.accept-button,
.reject-button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 75%; /* Adjusted width */
    height: 30%; /* Adjusted height */
}

.accept-button {
    background-color: #2ecc71;
    color: #fff;
}

.reject-button {
    background-color: #e74c3c;
    color: #fff;
}

h3 {
    margin-top: 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 1000px;
    height: 920px;
    overflow: auto;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
select{
    width: 50%;
    height: 20%;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 5px ;
    padding: 5px;
    color: #8d8787;
    border: none;
    outline: none;
    border-radius: 5px;
}
input{
    width: 50%;
    height: 20%;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 5px ;
    padding: 5px;
    color: #8d8787;
    border: none;
    outline: none;
    border-radius: 5px;}